.venv
.png
.pdf
.json
.env
venv

# Environnement virtuel
.venv/
__pycache__/
*.pyc

# Clés et Secrets
backend/client_secrets.json
backend/token.json

# Stockages simulés et locaux
backend/cloud_aws_simulated/
backend/cloud_scaleway_simulated/
backend/src/cloud_aws_simulated/
backend/src/cloud_scaleway_simulated/
backend/src/Local_storage/

# Node
node_modules/
dist/

# Secrets
client_secrets.json

Local_storage/
cloud_aws_simulated/
cloud_scaleway_simulated/
*.pdf
*.docx
*.pptx
*.csv
*.json
*.ipynb
*.txt
*.php
*.py
*.jpg
*.jpeg
*.png

# Rendus du projet
!Poster_SILEX_ESME_Inge2D.pdf
!Rapport_SILEX_ESME_Inge2D.docx
!Presentation_SILEX_ESME_Inge2D.pdf